.centrado {
  margin-left: 400px !important;
}

.centrado1 {
  margin-top: 5px;
}

.session {
  margin-left: 5%;
}

.col-md-4 {
  margin-top: 1%;
}

.hola {
  display: flex;
  margin-left: 17px !important;
}

.label {
  margin-left: 450px !important;
  justify-content: center;
  width: 60%;
  justify-items: center;
}
.label1 {
  margin-top: 5px;
  margin-left: 450px !important;
  justify-content: center;
  width: 60%;
  justify-items: center;
}

.label3 {
  margin-top: 5px;
  margin-left: 450px !important;
  justify-content: center;
  width: 60%;
  justify-items: center;
}


.table-wrapper .btn.btn-primary {
  color: #fff;
  background: #03A9F4;
  
}

.table-wrapper .bt-primary {
  color: #fff;
  background: #03A9F4;
  margin-left: 120px !important;
}

.table-wrapper .btn.btn-primary:hover {
  background: #03a3e7;
}

.table {
  text-align: center;
  border: 3px solid black;
}

.fichas{
  margin-top: 1%;
}

.form-control {
  margin-left: 450px ;
}

.modificar1{
  margin-top: 1%;
  margin-left: 450px !important;
}
.modificar2{
  margin-top: 1%;
  margin-left: 450px !important;
}

