.centrado {
  margin-left: 400px !important;
  position: relative;
}

.centrado1 {
  margin-top: 5px;
}

.session {
  margin-left: 5%;
}

.col-md-4 {
  margin-top: 1%;
}

.hola {
  display: flex;
  margin-left: 17px !important;
}

.label {
  margin-left: 450px !important;
  justify-content: center;
  width: 60%;
  justify-items: center;
}

.label1 {
  margin-top: 5px;
  margin-left: 450px !important;
  justify-content: center;
  width: 60%;
  justify-items: center;
}

.label3 {
  margin-top: 5px;
  margin-left: 440px !important;
  justify-content: center;
  width: 60%;
  justify-items: center;
}


.table-wrapper .btn.btn-primary {
  color: #fff;
  background: #03A9F4;
}

.table-wrapper .bt-primary {
  color: #fff;
  background: #03A9F4;
  margin-left: 120px !important;
}

.table-wrapper .btn.btn-primary:hover {
  background: #03a3e7;
}

.table {
  text-align: center;
  border: 3px solid black;
}

.fichas{
  margin-top: 1%;
}

.form-control {
 text-align: center;
 position: relative;
}

.modificar1{
  margin-top: 2%;
  margin-left: 390px !important;
  display: inline-block;
  position: relative;
}

.rows{ 
  border: 3px solid rgb(241, 234, 234);
  width: calc(100% - 80px);
  position: relative;
  top: 20px;
  left: 50px;
}

div.col-md-4 {
  width: 200px; /* Ajusta el ancho del div según tu preferencia */
}

div.col-md-4 input[type="text"] {
  width: 515%; /* Los inputs ocuparán todo el ancho disponible dentro del div */
  position: relative;
}

div.col-md-4 input[type="time"],
div.col-md-4 select {
  width: 515%; /* Los inputs y selects ocuparán todo el ancho disponible dentro del div */
  position: relative;
}

div.col-md-4 label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
